<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/7338d13553.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='navbar-expand-lg navbar-dark bg-dark'>
        <div class="container">
          <span class="navbar-brand"><%= link_to 'Bookers', root_path %></span>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-link text-light">
                  <%= link_to user_path(current_user) do %>
                    <i class="fa-solid fa-house"></i>Home
                  <% end %>
                </li>
                <li class="nav-link text-light">
                  <%= link_to '/users' do %>
                    <i class="fa-solid fa-users"></i>Users
                  <% end %>
                </li>
                <li class="nav-link text-light">
                  <%= link_to '/books' do %>
                    <i class="fa-solid fa-book-open"></i>Books
                  <% end %>
                </li>
                <li class="nav-link text-light">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa-solid fa-right-from-bracket"></i>Log out
                  <% end %>
                </li>
              <% else %>
                <li class="nav-link text-light">
                  <%= link_to root_path do %>
                     <i class="fa-solid fa-house"></i>Home
                    <% end %>
                </li>
                <li class="nav-link text-light">
                  <%= link_to '/home/about' do %>
                    <i class="fa-solid fa-link"></i>About
                  <% end %>
                </li>
                <li class="nav-link text-light">
                  <%= link_to new_user_registration_path do %>
                    <i class="fa-solid fa-user-plus"></i>Sign up
                  <% end %>
                </li>
                <li class="nav-link text-light">
                  <%= link_to new_user_session_path do %>
                    <i class="fa-solid fa-right-to-bracket"></i>Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if notice %>
        <div class="flash-message">
          <p><%= notice %></p>
        </div>
      <% end %>
      
      <% if user_signed_in? %>
        <% if (action_name == "edit" || action_name == "update") || user_signed_in? && controller_name == "homes" && action_name == "top" %>
          <div class ="container">
          <!--div1-->
            <div class = "row">
            <!-- div2-->
              <div class = 'col-md-8 px-5 mx-auto'>
              <!--div3-->
                <%= yield %>
              </div>
              <!--div3-->
            </div>
            <!--div2-->
          </div>
          <!--div1-->
        <% else %>
          <div class="container px-5">
          <!--div1-->
            <div class="row">
            <!--div2-->
              <div class="col-md-3">
              <!--div3-->
                <%= render partial: 'shared/dashboard', locals: { user: @user, book: @book } %>
              </div>
              <!--div3-->
              <div class='col-md-8 offset-md-1'>
              <!--div4-->
                <%= yield %>
              </div>
              <!--div4-->
            </div>
            <!--div2-->
          </div>
          <!--div1-->
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
